{% extends "main.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ 'assets/stylesheets/homepage.min.css' | url }}">
{% endblock %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<section class="brec-home-container">
  <div class="md-grid md-typeset">
    <div class="brec-home-hero">

      <!-- Hero image -->
      <div class="brec-home-hero__image">
        <img src="assets/images/home-light.png#only-light" alt="" draggable="false" oncontextmenu="return !1" loading="lazy">
        <img src="assets/images/home-dark.png#only-dark" alt="" draggable="false" oncontextmenu="return !1" loading="lazy">
      </div>

      <!-- Hero content -->
      <div class="brec-home-hero__content">
        <h1>B站录播姬</h1>
        <p>一个方便好用免费开源的哔哩哔哩直播录制工具</p>
        <div class="brec-home-hero__links">
          <a id="brec_download_button" title="下载B站录播姬桌面版安装包" class="md-button md-button--primary"
            href="https://soft.danmuji.org/BililiveRecorder/Setup.exe">
            下载桌面版
            <span class=brec-version> <span class=twemoji>{% include ".icons/material/loading.svg" %}</span> </span>
          </a>
          <a href="{{ 'user/install/' | url }}" class="md-button">
            其他版本
          </a>
          <a href="{{ 'user/faq/' | url }}" style="margin:0.5em 2em;font-weight:bold;color:#cc2900">
            安装遇到问题？
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ 'assets/javascripts/homepage.min.js' | url }}"></script>
{% endblock %}
<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
