{% extends "base.html" %}

{% block styles %}
{{ super() }}

{% if config.theme.palette %}
    {% set palette = config.theme.palette[0] %}
    {% if palette.primary %}
        {% import "partials/palette.html" as map %}
        {% set primary = map.primary(
                    palette.primary | replace(" ", "-") | lower
                ) %}
        <meta name="theme-color" content="{{ primary }}">
    {% endif %}
{% endif %}
{% endblock %}

{% block site_meta %}
{{ super() }}
{% endblock %}

{% block announce %}
<p style="text-align:center">
  录播姬问卷调查：<a href="https://rec.danmuji.org/link/wj202209" target="_blank" rel="noopener">腾讯问卷</a>
</p>
{% endblock %}
