/* Application header should be static for the landing page */
.md-header {
  position: initial;
}

/* Remove spacing, as we cannot hide it completely */
.md-main__inner {
  margin: 0;
}

/* Hide main content for now */
.md-content {
  display: none;
}

/* Hide table of contents */
@media screen and (min-width: 60em) {
  .md-sidebar--secondary {
    display: none;
  }
}

/* Hide navigation */
@media screen and (min-width: 76.25em) {
  .md-sidebar--primary {
    display: none;
  }
}

.brec-home-container {
  flex-grow: 1;
  padding: 2rem 0 5rem 0;
  background: linear-gradient(to bottom, var(--md-primary-fg-color) 8%, #053861 100%);
}

[data-md-color-scheme=default] .brec-home-container {
  background: linear-gradient(to bottom, var(--md-primary-fg-color) 8%, #4d93cb 100%);
}

.brec-home-hero {
  color: var(--md-primary-bg-color);
  margin: 0 .8rem
}

.brec-home-hero h1 {
  color: currentcolor;
  font-weight: 700;
  margin: 1rem
}

@media screen and (max-width: 29.9375em) {
  .brec-home-hero h1 {
    font-size: 1.4rem
  }
}

.brec-home-hero__content {
  padding-bottom: 6rem;
  text-align: center;
}

.brec-home-hero__links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

@media screen and (min-width: 60em) {
  .brec-home-hero {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
  }

  .brec-home-hero h1 {
    margin-top: 0
  }

  .brec-home-hero__content {
    margin-top: 3.5rem;
    max-width: 19rem;
  }

  .brec-home-hero__image {
    order: 1;
    width: 38rem
  }
}

.brec-home-hero .md-button {
  color: var(--md-primary-bg-color);
  margin-right: .5rem;
  margin-top: .5rem
}

.brec-home-hero .md-button:focus,
.brec-home-hero .md-button:hover {
  background-color: var(--md-accent-fg-color);
  border-color: var(--md-accent-fg-color);
  color: var(--md-accent-bg-color)
}

.brec-home-hero .md-button--primary {

  background-color: var(--md-primary-bg-color);
  border-color: var(--md-primary-bg-color);
  color: var(--md-typeset-a-color);
}

.brec-features {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
}

.brec-features a {
  text-decoration: underline 2px;
  color: #fff;
}

.brec-feature {
  padding: 5px 24px;
  max-width: 400px;
  margin: auto;
}

.brec-feature h2 {
  margin: 0.6em 0;
  text-align: center;
  font-weight: bold;
}

div.md-sidebar[data-md-type=toc] {
  display: none;
}

@media screen and (min-width: 60em) {
  .brec-features {
    display: flex;
    flex-wrap: wrap;
  }

  .brec-feature {
    width: calc(100% / 3);
    margin: 0;
    max-width: none;
  }
}

header.md-header {
  box-shadow: none !important;
}
